.idea
node_modules
out

.env

.devenv.flake.nix
.devenv/

.kube/*
!.kube/.gitkeep
!.kube/*.crt

.aws/credentials

yarn-error.log

**/.terragrunt-cache
**/.tfstate

**/.pnpm

**/.eslintcache

devenv.local.nix

.ssh/*
!.ssh/known_hosts

.azure

**/tilt.trigger

.pre-commit-config.yaml

.podman/.token_seed*
